// Bootstrap
@import '../css/bootstrap.min.css';

/* importa o jeet grid */
@import 'jeet/index';

// Mixins
@import '../css/_mixins.scss';

//Fontes nativas
@import '../css/_fonts.scss';

// Breakpoint
@import '../css/_breakpoints.scss';

// seta breakpoints
$breakpoints: (
  'mobile' : 320px,
  'tablet' : 640px,
  'site'   : 920px,
  'wide'   : 1200px,
  'mega'   : 1400px,
);


.container{
  @include center(1050px);
}

.header{
  @include col(1/1);

  @include mappy-bp(mobile tablet){

  }
}

.box-form{
  @include center(620px);
  margin-top: 40px;

  img{
    float: left;
  }

  form{
    @include col(3.8/6);
    float: right;
  }

  label{
    @include col(1/1);
    font-family: $pr;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  input[type=text]{
    @include col(1/1);
    border: solid 1px #ddd9d4;
    border-radius: 3px;
    padding: 10px;
    color: black;
    font-family: $pr;
    font-size: 18px;
    margin-top: 5px;
    box-shadow: 0px 1px 0px 0px #D94E4C;

    &:focus{
      border: solid 2px yellow;
      
    }

  }

  input[type=submit]{
    @include col(1/1);
    border: solid 1px #ddd9d4;
    border-radius: 3px;
    padding: 10px;
    color: black;
    font-family: $pb;
    font-size: 16px;
    margin-top: 5px;
    background: #fff;
    color: #f77274;
    box-shadow: 0px 1px 0px 0px #D94E4C;
  }

}

// modal
.modal{
    display:none;
    width:800px;
    // @include col(5/8);
    height:480px;
    position:absolute;
    left:0;
    top:0;
    background:#ea5653;
    z-index:9900;
    padding:10px;
    border-radius:8px;
    color: #fff;

    font-family: $pr;

    h2{
      font-family: $psb;
      text-align: center;
      @include font-size(43px);
      letter-spacing: -0.03em;
      color: #fff;
      margin-top: 10px;
    }

    p{
      @include center(500px);
      font-family: $pr;
      text-align: center;
      @include font-size(28px);
      color: #fff;
      font-weight: normal;
    }


}

#mask{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:1000;
    background-color:#000;
    width: 100%;
}

.fechar{
  display:block;
  text-align:right;
  padding: 10px;
}
