// Bootstrap
@import '../css/bootstrap.min.css';

/* importa o jeet grid */
@import 'jeet/index';

// Mixins
@import '../css/_mixins.scss';

//Fontes nativas
@import '../css/_fonts.scss';

// Breakpoint
@import '../css/_breakpoints.scss';

// seta breakpoints
$breakpoints: (
  'mobile' : 320px,
  'tablet' : 640px,
  'site'   : 920px,
  'wide'   : 1200px,
  'mega'   : 1400px,
);


.container{
  @include center(1050px);
}

.header{
  @include col(1/1);

  @include mappy-bp(mobile tablet){

  }
}


// modal
.modal{
    display:none;
    width:774px;
    // @include col(5/8);
    height:480px;
    position:absolute;
    left:0;
    top:0;
    background:#ea5653;
    z-index:9900;
    padding:10px;
    border-radius:8px;
    color: #fff;

    font-family: $pr;

    h2{
      font-family: $psb;
      text-align: center;
      @include font-size(43px);
      letter-spacing: -0.03em;
      color: #fff;
      margin-top: 30px;
    }

    p{
      @include center(500px);
      font-family: $pr;
      text-align: center;
      @include font-size(28px);
      color: #fff;
      font-weight: normal;
    }


}

#mask{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:1000;
    background-color:#000;
}

.fechar{display:block; text-align:right;}
